.block.p-6.rounded-lg.shadow-lg.bg-white.max-w-sm
  = turbo_frame_tag dom_id(@journal) do
    = form_for @journal do |f|
      .form-group.mb-6.max-w-sm
        = f.label "Title", class: "form-label inline-block mb-2 text-gray-700"
        = f.text_field :title, class: "form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        - if @journal.errors.include?(:title)
          - @journal.errors.full_messages_for(:title).each do |error_message|
            .text-xs.text-center.text-red-700= error_message
        %br/
        = button_tag "#{@journal.new_record? ? 'CREATE' : 'UPDATE'} JOURNAL", data: {turbo_frame: '_top'},class: "px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
        = link_to "CANCEL", root_path, class: "px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out"