!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Memories
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = hotwire_livereload_tags if Rails.env.development?
  %body 
    .flex.flex-col.h-screen
      = render "layouts/header"
      %div.container
        #flash.flash
          = render "layouts/flash_messages"
        = yield